---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import Slide from "../components/Slide.astro";
---

<Layout title="Welcome to Astro.">
  <main class="snap-y h-screen overflow-y-scroll snap-mandatory">
    <Slide class="bg-red-500">
      <img src="./images/logo.png" alt="Giulia e Leonardo" />
      <p class="font-sans text-2xl">
        vi invitano al <span class="font-bold">LORO MATRIMONIO</span><br />
        il 29 aprile 2023 alle ore 16:00<br />
        presso l'auditorium <span class="font-bold">BERRETTA ROSSA</span><br />
        Via Giuseppe Bocci, 37 - Soci
      </p>
      <p class="font-sans text-2xl">Seguirà un brindisi</p>
      <div class="flex w-full justify-between">
        <img src="./images/giulia.png" alt="Giulia" />
        <img src="./images/leonardo.png" alt="Leonardo" />
      </div>
    </Slide>
    <Slide class="bg-blue-500 font-sans text-3xl">World</Slide>
  </main>
</Layout>
