---
import Layout from "../layouts/Layout.astro";
import Slide from "../components/Slide.astro";
import Page from "../components/Page.astro";
import Half from "../components/Half.astro";
---

<Layout title="Giulia e Leonardo">
  <main
    class="snap-y h-screen overflow-y-scroll text-shadow font-sans snap-mandatory text-white"
  >
    <Page id="1">
      <Half slot="top" class="bg-lime-print px-5 flex-col">
        <img
          src="./images/logo.png"
          alt="Giulia e Leonardo"
          class="pt-12 drop-shadow-lg"
        />
        <p class="mt-10 text-center">
          Vi aspettiamo al<br /><span class="font-bold uppercase"
            >nostro matrimonio</span
          >
        </p>
      </Half>
      <Half slot="bottom" class="bg-orange-print relative">
        <p class="font-sans -mt-32 text-3xl text-white text-center text-shadow">
          Sabato 29 Aprile 2023<br />alle ore 16:00<br />
        </p>
        <div class="absolute w-full h-52 flex justify-between bottom-0">
          <img src="./images/giulia.png" alt="Giulia" />
          <img src="./images/leonardo.png" alt="Leonardo" />
        </div>
      </Half>
    </Page>

    <Page id="2">
      <Half slot="top" class="bg-pink-print px-5 flex-col">
        <p class="text-2xl text-center">
          Presso l'<span class="font-bold uppercase"
            >auditorium BERRETTA ROSSA</span
          ><br />
          Via Giuseppe Bocci 37 <br />
          Soci, Bibbiena (AR)
        </p>
      </Half>
      <Half slot="bottom" class="bg-sky-print relative">
        <iframe
          class="overflow-hidden w-full h-full"
          src="https://maps.google.com/maps?q=Berretta%20Rossa,%20Soci&t=&z=15&ie=UTF8&iwloc=&output=embed"
        ></iframe>
      </Half>
    </Page>

    <Page id="3">
      <Half slot="top" class="bg-dark-green-print px-5 flex-col">
        <p class="text-4xl text-center">
          Dopo il brindisi vi invitiamo a festeggiare con noi<br />
        </p>
      </Half>
      <Half slot="bottom" class="bg-red-print relative">
        <p class="text-3xl -mt-32 text-center">
          dalle ore 18:30<br />
        </p>
        <div class="absolute w-full h-52 flex justify-between bottom-0">
          <img src="./images/giulia.png" alt="Giulia" />
          <img src="./images/leonardo.png" alt="Leonardo" />
        </div>
      </Half>
    </Page>

    <Page id="4">
      <Half slot="top" class="bg-sky-print px-5 flex-col">
        <p class="text-2xl text-center">
          Presso <span class="font-bold uppercase">"La Colombaia"</span><br />
          Via del Cedro, loc. Villa Bocci, Soci<br /> Bibbiena (AR)<br />
        </p>
      </Half>
      <Half slot="bottom" class="bg-pink-print relative">
        <iframe
          class="overflow-hidden w-full h-full"
          src="https://maps.google.com/maps?q=la%20colobaia%20soci&t=&z=13&ie=UTF8&iwloc=&output=embed"
        ></iframe>
      </Half>
    </Page>

    <Page id="5">
      <Half slot="top" class="bg-orange-print px-5 flex-col">
        <p class="text-3xl text-center">
          La vostra presenza sarà per noi il regalo più bello.<br />
          Ma se desiderate farci un pensiero...<br />
          IBAN: IT73A0800003201000000178949
        </p>
      </Half>
      <Half slot="bottom" class="bg-lime-print relative">
        <p class="text-3xl -mt-48 text-center">
          ...Ecco il viaggio da sogno che vorremmo fare
          <br/>
          <a href="https://www.dondake.it/tour/giappotour-380-dondake-viaggio-in-giappone-estate-2023">Clicca qui</a>
        </p>
        <div class="absolute w-full h-44 flex justify-between bottom-0">
          <img src="./images/giulia.png" alt="Giulia" />
          <img src="./images/leonardo.png" alt="Leonardo" />
        </div>
      </Half>
    </Page>
  </main>
</Layout>
